extends layout

block content
	section.jumbotron.text-center
		.container
			h1.jumbotron-heading #{title}  

		.album.py-5.bg-light
			.container
				.row
					.col-md-4
						.card.mb-4.box-shadow          
							.card-body
								i.fal.fa-edit 
								h2
									| Add, edit, or delete elements.
								p.card-text
									| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.

					.col-md-4
						.card.mb-4.box-shadow               
							.card-body
								i.fal.fa-wrench 
								h2
									| Troubleshoot broking website features
								p.card-text
									| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.

					.col-md-4
						.card.mb-4.box-shadow
							.card-body
								i.fas.fa-headphones 
								p.card-text
									| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.